@media only screen and (min-width: 59.375em) {

    /* HEADER */

    #header-box {
        grid-template-columns: 3fr 3fr 2fr 1fr;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
    }

    #hamburger-btn {
        display: none;
    }

    #primary-nav {
        display: block;
        align-self: center;
        width: 200px;
        box-sizing: border-box;
    }

    #primary-nav ul {
        display: flex;
        list-style: none;
        font-size: 16pt;
        width: 200px;
        margin: 0;
    }

    #primary-nav ul li a {
        margin: 0;
    }

    #primary-nav ul li a {
        padding: .4em .75em;
    }

    #primary-nav ul a:hover {
        background-color: var(--primary);
        color: white;
        border-radius: 4px;
        transition: .5s ease-in-out;
    }

    #primary-logo img {
        width: 220px;
    }

    #primary-social {
        justify-content: right;
        grid-column: 4;
    }

    #primary-social a {
        margin-right: 25px;
    }

    .primary-reserve-btn {
        display: block;
        width: 55%;
        justify-self: right;
        height: 70px;
        align-self: center;
        padding: .4em;
    }

    /* MAIN --index.html */

    button {
        border-radius: 3px;
    }

    #home-slideshow-box {
        width: 950px;
        margin: 0 auto;
        
        /* background-color: var(--primary); */
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        overflow: hidden;
    }

    #home-slideshow-box img {
        display: block;
        width: 950px;
        margin: 0 auto;
    }

    #home-slideshow-box h2 {
        width: 964px;
        position: absolute;
        bottom: 0;
    }

    .home-slide {
        float: left;
    }

    .home-slide-wrapper {
        width: calc(100% * 4);

        animation: 30s slide infinite ease;
    }

    .home-slide:nth-child(4), .home-slide:nth-child(2), .home-slide:nth-child(3) {
        display: block;
    }

    @keyframes slide {
        20% {
            margin-left: 0px;
        }
         
        30%, 40% {
            margin-left: calc(-100% * 1);
        }

        50%, 60% {
            margin-left: calc(-100% * 2);
        }
         
        70%, 80% {
            margin-left: calc(-100% * 3);
        }
    }

    #home-main-grid {
        max-width: 1400px;
        margin: 4em auto;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #home-services-box {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
        margin-left: 3em;
    }

    #home-services-box h3, #home-services-box ul {
        text-align: left;
        padding-inline-start: 0px;
        
        margin: 1em auto;
    }

    #home-services-box button {
        text-align: left;
        margin: 2em 0;
    }

    #home-services-picture {
        grid-column: 2;
    }

    #home-temple-box {
        padding-right: 1em;
        width: 90%;
    }

    #home-temple-box h3, #home-temple-box p {
        display: block;
        text-align: right;
        margin: 1em auto;
    }

    #home-temple-box p {
        margin-right: 0;
    }

    #home-temple-box button {
        float: right;
    }

    #home-spotlight-box {
        grid-column: span 2;
        grid-row: 3;
    }

    #home-spotlight-box h3 {
        font-size: 20pt;
    }

    #home-spotlight-box img {
        width: 45%;
    }

    #home-spotlight-box p {
        width: 57%;
    }

    #current-weather-box {
        width: 35%;
    }

    #forecast-box {
        grid-template-columns: repeat(5, 1fr);
    }

    #forecast-box h3 {
        grid-column: 3;
    }

    #forecast-box p:nth-of-type(1) {
        grid-column: 2;
        grid-row: 2;
    }

    #forecast-box p:nth-of-type(2) {
        grid-column: 3;
        grid-row: 2;
    }

    #forecast-box p:nth-of-type(3) {
        grid-column: 4;
        grid-row: 2;
    }


    /* MAIN --temples.html */

    #temple-cards {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1em auto;
    }

    #temple-cards section img {
        float: none;
        padding: .5em 0;
    }

    #temple-cards section p, #temple-cards section ul {
        font-size: 14pt;
    }

    #temple-cards button {
        float: right;
    }

    /* MAIN --reserve.html */

    #reserve-main {
        display: grid;
        grid-template-columns: 1fr 400px;
        max-width: 1200px;
        width: 90%;
    }

    #reserve-form {
        width: 70%;
    }

    #reserve-feedback-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #reserve-feedback-box section p{
        background-color: var(--primary);
        border-radius: 0px 20px;
        color: white;
        font-size: 20pt;
        font-style: italic;
        text-align: center;
        padding: 3.5em .5em;
    }

    #reserve-feedback-box section:nth-child(2) p {
        background-color: var(--secondary);
        border-radius: 20px 0px;
    }

    /* MAIN --confirmation.html */

    #confirmation-main section {
        width: 50%;
        margin: 11em auto;
    }

    /* FOOTER */

    footer {
        display: grid;
        grid-template-columns: 300px 1fr 1fr 300px;
    }

    #footer-logo {
        width: 270px;
        grid-column: 2;
        align-self: end;
        padding-top: 1em;
    }

    #footer-social {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        width: 150px;
    }

    #footer-social a img {
        width: 45px;
    }

    #footer-address {
        align-self: start;
        margin-top: 0;
        padding-top: 0;
        grid-column: 3;
    }

    #footer-contact {
        align-self: center;
        margin-bottom: 0;
    }

    #footer-address p, #footer-contact p {
        margin: .5em auto;
    }
    
    footer > p {
        grid-column: 2 / 4;
        font-size: 15pt;
    }
}