@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&family=Merriweather+Sans&display=swap');

header h1 {
    font-family: 'Gelasio', serif;
    text-align: center;
    margin-bottom: 1.5em;
}

main {
    width: 98%;
    margin: 1em auto;
    background-color: rgb(228, 228, 228);
    font-family: 'Merriweather', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.6) 0px .5px 20px;
}

main section {
    border: 2px solid black;
    width: 95%;
    margin: .25em auto;
    text-align: center;
    background-color: rgb(167, 222, 236);
}

main section img {
    width: 40%;
    margin: .5em;
    box-shadow: 5px 5px 10px  rgba(0,0,0,0.4);
}

main section p {
    font-weight: bold;
}

footer {
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    font-style: italic;
}

@media only screen and (min-width: 45em) {

    .cards {
        width: 97%;
        margin: .5em auto;
        padding: .5em 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    main section {
        width: 98%;
        margin: .1em auto;
    }
}