@media only screen and (min-width: 40em) {

    /* HEADER */

    header h1 {
        font-size: 26pt;
    }

    #header-box {
        grid-template-columns: 50px 150px 2fr 100px;
    }

    #medium-large {
        display: inline;
    }

    #header-social {
        display: inline;
    }

    /* index.html MAIN */

    main {
        margin-bottom: 3em;
    }

    main div {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #hero {


        background-image: url("../images/city-background-medium.webp");
        /* height: 200px; */
        grid-row: 1;
        grid-column: span 6;
    }

    #hero h2 {
        font-size: 20pt;
    }

    #hero button {
        font-size: 14pt;
        margin-top: 3.5em;
        margin-left: 65%;
    }
    #news {
        height: 175px;
        grid-row: 2;
        grid-column: span 6;
        font-size: larger;
    }
    
    #spotlights {
        grid-row: 3;
        grid-column: span 6;
    }

    #spotlights section {
        grid-column: span 3;
    }

    #join {
        display: block;
        height: 125px;
        grid-row: 4;
        grid-column: span 6;
        text-align: center;
        margin: 2em auto;
    }

    #join button {
        display: block;
        margin: .5em auto;
        width: 90%;
        font-size: 18pt;
        line-height: 1.75em;
        font-family: 'Sarabun', sans-serif;
        color: #284B63;
        border-radius: 20px;
        border: none;
    }

    #join p {
        margin: 0 auto;
        width: 80%;
        font-size: 15pt;
    }

    #event {
        grid-row: 5;
        grid-column: 1 / span 4;
        width: 80%;
        height: 250px;
        margin: 2vw;
        margin-left: 1.5em;
    }
    #weather {
        width: 80%;
        height: 256px;
        grid-column: span 2;
        margin: 2vw;
        margin-left: 0;
    }

    #weather img {
        width: 80px;
    }

    /* directory.html MAIN */

    #directory-main {
        margin-bottom: 3em;
    }

    #directory-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #directory-buttons {
        width: 20%;
    }

    #directory-list {
        display: block;
    }

    #directory-list section {
        display: flex;
        justify-content: space-evenly;
    }

    #directory-list section p {
        padding: .5em;
    }

    
    #directory-list section p:nth-child(2) {
        align-self: stretch;
    }

    #directory-list a {
        display: block;
        align-self: center;
    }

    /* contact.html --MAIN */

    #contact-main {
        display: grid;
        padding: 1em;
        grid-template-columns: 1fr 1fr;
        background-image: url("../images/contact-background.webp");
    }

    #contact-form-box {
        background-color: white;
        display: block;
    }

    #contact-info {
        background-color: white;
        display: block;
        grid-column: 2;
        grid-row: 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    /* FOOTER */

    footer {
        margin-top: 0;
    }

    #footer-box {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #footer-box img#footer-logo {
        width: 70%;
        justify-self: center;
        align-self: center;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #footer-box h4 {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        align-self: center;
        font-size: 15pt;
    }

    #footer-box p {
        font-size: 14pt;
    }

    #footer-box p.address {
        margin: 0;
        margin-top: .2em;
        text-align: left;
        grid-column: 2;
        grid-row: 2;
    }

    #footer-box p.address:nth-of-type(2) {
        align-self: center;
    }

    #footer-box p.contact {
        margin: 0;
        grid-column: 3;
        grid-row: 1;
    }

    #footer-box p.contact#email {align-self: center;}
    #footer-box p.contact#phone {align-self: end;}

    #footer-box p#location-map {
        grid-column: 3;
        grid-row: 2;
    }

    #footer-box p#weather-credit {
        grid-row: 3;
        grid-column: span 3;
        font-size: 1.1em;
    }

    #footer-box p#footer-end {
        font-size: 1em;
        border-top: 1px solid rgba(0,0,0,0.2);
        grid-row: 4;
        grid-column: span 3;
    }


}